*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../Images/m5.jpg');
    /* background-position: center;
    background-repeat: no-repeat;*/
    background-size: cover; 
}
h1{
    text-align: center;
    font-size: 60px;
    /* margin-top: 100px; */
    color: white;
    font-family: sans-serif;
}
#formr{
    text-align: center;
    /* margin-top: 100px; */
    /* font-size: 50px; */
    /* border-radius: 20px; */
    margin-top: 60px;
    margin-left: 750px;
    width: 700px;
    height: 600px;
    /* box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3); */
}
#name{
    margin-top: 30px;
}
input , select{
    text-align: center;
    margin-bottom: 30px;
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: lightgray;
}
.alert{
    width: 300px;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 900;
    margin-left: 200px;
    margin-top: 30px;
    display: none;
}


#formr button{
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background: #2980B9;  
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
font-weight: bolder;

}
button a{
    text-decoration: none;  
}

button:hover{
    opacity: 0.8;
}