@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600&family=Montserrat:wght@300;400;500&family=Nunito:wght@300&family=The+Nautigal&display=swap');

html {
    scroll-behavior: smooth;
    /* cursor: url("../Assets/Home/m.png"), auto; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: relative;
    z-index: -100000;
}

.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-animation {
    width: 300px;
    height: 300px;
    animation: rotate 2s linear infinite;
}

.loading p {
    text-transform: uppercase;
    color: black;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    font-size: 30px;
    transition: 2s;
    animation: bounce 1.5s linear infinite;
}

.mainbox {
    width: 100%;
    position: relative;
    z-index: -1000;
}

header {
    width: 100%;
    /* border: 2px solid magenta; */
    height: 100vh;
    background: #FCF8E8;
    
}

.page-1{
    background-image: url(../Assets/Home/Background.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -100;
}


nav {
    position: relative;
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 165, 0, 0.9);
    border-bottom: 1px solid  #fff;
    backdrop-filter: blur(5px);
    z-index: 100;
}

nav img {
    width: 4.5em;
    padding: 0.3em;
}

.logo:hover {
    transform: rotate(360deg);
    transition: 3s;
}


.nav-list {
    list-style: none;
    display: flex;
    margin: 0 auto;
    width: 75%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 990px;
}

.nav-list li {
    padding: 0 1.5em;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.nav-list li .fa:hover{
    transition: 0.4s;
    transform: scale(2);
    color: #1F4690;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list-items a:hover {
    color: #1F4690;
}

.btn {
    background: rgb(38, 183, 38);
    color: white;
    width: 10em;
    height: 1.5em;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    margin: auto 0;
}

.btn:hover {
    background: #189818;
    transition: 0.4s;
    transform: scale(1.2);
}

.dropdown1 {
    display: none;
}

nav ul li:hover .dropdown1 {
    display: block;
    position: absolute;
    z-index: 200;
}

nav ul li:hover .dropdown1 li {
    display: block;
    padding: 1em;
    margin: 0;
    border: 1px solid white;
    background-color: rgba(255, 165, 0, 0.9);
}

nav ul li:hover .dropdown1 ul li a {
    color: white;
    font-size: 0.9rem;
}

.dropdown1 li:hover {
    color: #1F4690;
    transform: scale(1.12);
    transition: 0.4s;
}
.container{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.1);
    backdrop-filter:blur(7px) ;
    z-index: -50;
}

.container h1{
    font-size: 7rem;
    font-weight: 800;
    color: #FCF8E8;
}

.page-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../Assets/Home/food6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.page-2 .para {
    margin: 0 1em;
    font-size: 5rem;
    font-family: 'The Nautigal', cursive;
}

#author {
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
}

.page-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-3 img {
    height: 100%;
    width: 40%;
}

.timings {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timings-heading {
    font-size: 3rem;
    color: brown;
    margin: 1em 0;
}

.timings-heading-subtitle {
    font-size: 2rem;
    margin: 1em 0;
}

.page-3 .title {
    font-size: 1.5em;
    margin: 1em 0;
    color: #EF5B0C;
}

.schedule {
    display: flex;
    justify-content: space-between;
}

.timings-list-item {
    font-size: 1.25rem;
    padding: 0.5em;
}

.timings-list-time {
    list-style: none;
}

.page-4 {
    display: flex;
}

.page-4 img {
    width: 25%;
    padding: 1em; 
    margin: 0;
    border-radius: 10px; 
}

.address {
    text-align: center;
    margin: 1em auto;
}

.address h2 {
    color: #EF5B0C;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.address address {
    color: #73777B;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 7em;
    background: #D4F6CC;
}

footer a {
    color: #EF5B0C;
}

footer a:hover {
    color: #1F4690;
}